@media (max-width: 500px) {
  .date_card{
    justify-content: center;
    width: 85%;
    min-width: 150px;
    height: 400px;
   }
  
  .date_picker{
    width: 100%;
    min-width: 180px;
    margin-left: 0rem;
    margin-bottom: -2rem;
  }
  .date_card img{
    width:35%;
    min-width: 235px;
    align-self:flex-end;
    
  }
  .input_card{
    width: 85%;
    height: 620px;
    justify-content: center;
  }
  .autocomplete{
    flex-direction: column;
    width: 97%;
  }
  .input_part{
    flex-direction: column;
    width: 100%;
  }
  .field_btn{
    width: 60%;
    padding: 0rem;
    margin-left: 5.4rem;
  }
  .div_div{
    flex-direction: column;
    justify-content: center;
  }
  .pie_charts{
    flex-direction: column;
    }
}
