@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    width: 100%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    overflow: hidden;
    height: 110px;
  }

  .navbar svg {
    margin-right: 17rem;
    margin-top: 0.5rem;
  }
  .navbar ul li a {
    margin-right: 0.5rem;
    padding-right: 1rem;
  }

  .navbar ul {
    margin-right: 3rem;
  }
  .navbar h1 {
    margin-top: -2rem;
    margin-left: 10rem;
  }
  .sidenav ul li a {
    margin-left: -2rem;
  }
  .sideBar_logo {
    margin-left: -2rem;
  }
  .home {
    width: 75% !important;
  }
}
