.p_box{
    width: 50%;
    min-width: 1500px;
    height: 640px auto;
    margin-bottom: 8rem;
    color: black;
    margin-left: 12rem;
}
.p_h1{
    padding-top: 4rem; 
    font-size: x-large;
    padding-left: 12rem;
}
.p_inputcard{
    transition: 'all 1s ease-out';
    margin-bottom: 3rem;
    margin-left: 24.5rem;
    padding-top: 7rem;
    width: 60%;
    height: 430px;
    align-self: center;
    justify-content: center;
}
.save_btn{
    width: 45%;
}
.p_cardcontent{
    margin-top: 2rem;
    margin-left: 1rem;
}
.p_header{
    align-self: flex-start;
}