* {
  font-size: 15px;
}
.Stok_containerbody{
  min-height: 100vh;
  position: relative;
}
.input_card1 {
  transition: "all 1s ease-out";
  margin-bottom: 3rem;
  margin-left: 5rem;
  padding-top: 7rem;
  width: 40%;
  height: 250px;
}
.input_card11 {
  transition: "all 1s ease-out";
  margin-bottom: 3rem;
  margin-left: 5rem;
  padding-top: 7rem;
  width: 70%;
  height: 650px;
}
.autocomplete1 {
  display: flex;
  width: 60%;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.table1 {
  height: 470px;
  width: 70%;
}

.add1 {
  padding-right: 1rem;
  margin-right: 0.5rem;
}

.input_part1 {
  width: 100%;
  display: flex;
  padding-bottom: 7rem;
  transition: "all 1s ease-out";
}

.field_btn1 {
  padding-left: 0.75rem;
  padding-top: 0.85rem;
  margin-left: -0.5rem;
  width: 15%;
}

.date_picker1 {
  width: 100%;
  margin-top: -5rem;
  margin-bottom: 3rem;
  margin-left: -0.4rem;
  padding-top: 7rem;
}

.add_table1 {
  display: flex;
  margin-left: 5rem;
}
.close_btn1 {
  margin-top: 1rem;
  color: red;
}

.input_header1 {
  display: flex;

}

.input_header1 h4 {
  padding-left: 1rem;
}

.add_btn1 {
  margin-left: 1rem;
}

.date_card1 {
  margin-bottom: 3rem;
  margin-left: 5rem;
  padding-top: 7rem;
  width: 600px;
  height: 250px;
}

.pie_chart1 {
  margin-top: 120px !important;
  margin-left: 100px !important;
  width: 800px !important;
  height: 1000px !important;
}
.input_sevk1 {
  display: flex;
}
