* {
  font-size: 15px;
}

.Stok_containerbody {
  min-height: 100vh;
  position: relative;
}

.Stok_containerbody::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("src/assets/img/sevk.jpg");
  background-position: 100% 100%;
  opacity: 0.5; /* Görünürlüğü ayarlamak için değeri değiştirin (0.0 ile 1.0 arasında) */
}


.input_card1 {
  transition: "all 1s ease-out";
  margin-bottom: 3rem;
  margin-left: 5rem;
  padding-top: 7rem;
  width: 600px;
  height: 335px;
}
.input_sevk1 {
  display: flex;
}
.input_card11 {
  transition: "all 1s ease-out";
  margin-bottom: 3rem;
  margin-left: 5rem;
  padding-top: 7rem;
  width: 95.5%;
  height: 750px;
  animation-name: test;
  animation-duration: 1s;
}
.autocomplete1 {
  display: flex;
  width: 60%;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.table1 {
  height: 470px;
  width: 70%;
}

.add1 {
  padding-right: 1rem;
  margin-right: 0.5rem;
}

.input_part1 {
  width: 100%;
  display: flex;
  padding-bottom: 2rem;
  transition: "all 1s ease-out";
}

.field_btn1 {
  padding-left: 0.75rem;
  padding-top: 0.85rem;
  margin-left: -0.5rem;
  width: 15%;
}

.date_picker1{
  display: flex;
  width: 80%;
  min-width: 300px;
}

.div_div1{
  font-size: 20px;
}

.add_table1 {
  display: flex;
  margin-left: 5rem;
}
.close_btn1 {
  margin-top: 1rem;
  margin-left: 5rem;
  color: red;
 

}

.input_header1 {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
}

.add_btn1 {
  margin-left: 1rem;
  font-weight: bolder;
}

.date_card1{
  display: flex;
  margin-left: 4.5rem;
  margin-bottom: 3rem;
  width: 600px;
  height: 250px;
  align-items: center;
  justify-content: center;
 }
.date_1{
  height: 40px;
}
.date_2{
  height: 40px;
}
.stokislem_1{
  font-size: 18px;
  color:rgb(255, 169, 56);
}
.stock_analyzebtn{
  width: 70px;
  height: 25px;
}
