*{
    font-size: 15px;
}
.input_card{
    transition: 'all 1s ease-out';
    margin-bottom: 3rem;
    margin-left: 5rem;
    padding-top: 7rem;
    width: 90%;
    height: 300px;
}
.autocomplete{
    display: flex;
    width: 42%;
    margin-bottom: 1rem;
    margin-right: 1rem;  
}
.table{
    height: 470px;
    width: 93%;
    min-width: 600px;
}

.add{
   padding-right: 1rem;
   margin-right: 0.50rem;
}

.input_part{
    display: flex;
    padding-bottom: 7rem;   
    transition: 'all 1s ease-out';
}

.field_btn{
    padding-left: 0.75rem;
    padding-top: 0.85rem;
    margin-left: -0.5rem;
    width:10%;
}

.date_picker{
width: 80%;
min-width: 300px;
margin-top: -5rem;
margin-bottom: 3rem;
margin-left: -0.4rem;
padding-top: 7rem;
}

.add_table{
    display: flex;
    margin-left: 5rem;
}
.close_btn{
    margin-top: 1rem;
}
.close_btn:hover{
    color: red;
}

.input_header{
    display: flex;
}

.input_header h4{
    padding-left: 1rem;
}

.add_btn{
    margin-left: 1rem;
}

.date_card{
    display: flex;
    margin-bottom: 3rem;
    margin-left: 5rem;
    width: 35%;
    min-width: 600px;
    height: 200px;
    position: relative;
    animation-name: test;
    animation-duration: 1s;
}
.div_div{
    display: flex;
}

@keyframes test{
    from{top: -60px}
    to{top:0px}
}
.date_card img{
    width: 35%;
    max-width: 200px;
    padding-left: 1rem;
}
