.loginDiv {
  width: 560px;
  height: 450px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
}
.mainDiv {
  border-radius: 20px;
}
.submitButton {
  width: 45%;
  height: 50px;
  background-color: #6ab335 !important;
}
.textfield {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imglogo {
  width: 23%;
  padding-top: 50px;
  padding-bottom: 50px;
}
h4 {
  color: rgba(255, 0, 0, 0.65);
  font-size: 17 px;
}
