* {
    font-size: 15px;
  }
  .Transportation_containerbody{
    min-height: 100vh;
    position: relative;
  }
  .input_card2 {
    transition: "all 1s ease-out";
    margin-bottom: 3rem;
    margin-left: 5rem;
    padding-top: 7rem;
    width: 40%;
    height: 250px;
  }
  .input_card22 {
    transition: "all 1s ease-out";
    margin-bottom: 3rem;
    margin-left: 5rem;
    padding-top: 7rem;
    width: 80%;
    height: 750px;
    animation-name: test;
    animation-duration: 1s;
  }
  .autocomplete2 {
    display: flex;
    width: 60%;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  .table2 {
    height: 470px;
    width: 70%;
  }
 
  
  .input_part2 {
    width: 100%;
    display: flex;
    padding-bottom: 7rem;
    transition: "all 1s ease-out";
  }
  
  .field_btn2 {
    padding-left: 0.75rem;
    padding-top: 0.85rem;
    margin-left: -0.5rem;
    width: 15%;
  }
  
  .date_picker2 {
    width: 100%;
    margin-top: -5rem;
    margin-bottom: 3rem;
    margin-left: -0.4rem;
    padding-top: 7rem;
  }
  
  .add_table2 {
    display: flex;
    margin-left: 5rem;
  }
  .close_btn2 {
    margin-top: 1rem;
    color: red;
  }

  
  .input_header2 {
    display: flex;
  }
  
  .input_header2 h4 {
    padding-left: 1rem;
  }
  
  .add_btn2 {
    margin-left: 1rem;
  }
  
  .date_card2 {
    margin-bottom: 3rem;
    margin-left: 5rem;
    padding-top: 7rem;
    width: 600px;
    height: 250px;
  }
  
  .pie_chart2 {
    margin-top: 120px !important;
    margin-left: 200px !important;
    width: 1200px !important;
    height: 1000px !important;
  }
  .input_sevk2 {
    display: flex;
  }
  .date_11{
    margin-top: 70px;
    margin-left: 5rem;
    height: 40px;
  
  }
  .date_22{
    margin-top: 70px;
    height: 40px;
  }
  .list_btn2{
    height: 40px;
  }
  .sevkislem_2{
    font-size: 18px;
  }