@media screen and (max-width: 650px) {
  .imglogo {
    width: 40% !important;
  }

  .loginDiv {
    width: 100% !important;
    border-radius: 30px !important;
  }
  .mainDiv {
    padding: 0 0px;
  }
  .submitButton {
    width: 80% !important;
  }
  .textfield {
    padding: 0 30px !important;
    padding-bottom: 20px !important;
  }
  .textf {
    width: 100% !important;
  }

  .imglogo2 {
    width: 30% !important;
  }

  .loginDiv2 {
    width: 100% !important;
    height: 400px !important;
  }
  .buttonDiv2 {
    flex-direction: column !important;
    align-items: center !important;
  }
  .submitButton2 {
    width: 80% !important;
    margin-left: 0px !important;
    margin-bottom: 20px !important;
  }
  .textfield2 {
    padding-bottom: 20px !important;
  }
  .textfield1 {
    padding-top: 60px !important;
  }
  .textf2 {
    width: 40% !important;
  }
  .tabletz {
    display: none !important;
  }
}
